doctype html
html
    //- Meta
    include jade/head/head
    body(onload='').nav-hide
        //- Meta
        include jade/main
        //- Navigation
        include jade/layout/nav/navigation
        //- Content
        header.header
            img.burger(src='images/more.svg')
            .logo
        .overflow
            .content 
                .hero.All
                    .background
                        img(src='images/backgrounds/apollo.jpg')
                    .background__screen
                    .hero__content.hero__all
                        .hero__title
                            h2.h2 #{name}
                        p.hero__description #{description} 
                    each hero in heroes || []
                        div(class="hero__content hero__#{ hero.bucket.toLowerCase() }")
                            .hero__details
                                .image
                                    img(src='#{ hero.avatar }') 
                                p.hero__intro= hero.intro
                                .hero__title
                                    h2.h2= hero.name
                                p.hero__description= hero.description
                -
                    for (var i = 0; i < (deliverables || []).length; i++) {
                        deliverables[i].buckets = (deliverables[i].buckets || []).map(function(b) {
                            for (var q = 0; q < buckets.length; q++) {
                                if (buckets[q].name === b) {
                                    return buckets[q].slug;
                                }
                            }
                        });
                        deliverables[i].tags = (deliverables[i].tags || []).map(function(b) {
                            for (var q = 0; q < validTags.length; q++) {
                                if (validTags[q].name === b) {
                                    return validTags[q].slug;
                                }
                            }
                        });
                    }
                each del in deliverables || []
                    +deliverable(
                        del.name,
                        del.description,
                        del.date || '',
                        del.buckets,
                        del.tags,
                        del.url
                    )



        //- Script
        include jade/scripts/script
